<form action="/admin/createUser" method="POST">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" required><br><br>

	<label for="password">Password:</label>
	<input type="password" id="password" name="password" required><br><br>

	<label for="authLevel">Auth Level:</label>
	<input type="text" id="authLevel" name="authLevel" required><br><br>

	<input type="submit" value="Submit">
</form>